html
  head
    title='Docker Demo'
    link(rel='stylesheet', href='http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css')
  body
    div.container
      div.jumbotron
        h1 Docker Demo
        p Ivan Saracino
        p Altro test